.audio-player audio {
  display: none;
}

.audio-player {
  margin-top: 5px;
  position: relative;
  z-index: 2;
}

.audio-play-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 40px;
  min-width: 40px;
  margin-right: 15px;

  position: relative;
  z-index: 2;

  border: 2px solid $color-corflower;
  border-radius: 100%;
  cursor: pointer;

  img {
    width: 25px;
    height: 25px;
  }
}

.audio-time {
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -14px;

  span {
    &:first-child {
      margin-left: 50px;
    }

    &:last-child {
      margin-right: 35px;
    }
  }
}

.audio-timebar {
  appearance: none;
  background: none;
  overflow: hidden;

  cursor: pointer;

  width: 89%;
  height: 100%;
  min-height: 15px;
  margin-top: 10px;
  border-radius: 15px;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    content: '';
    background: $color-ghost-gray;
    height: 15px;
    pointer-events: none;
  }

  &::-webkit-slider-thumb {
    content: '';
    appearance: none;
    box-shadow: calc(-1100px - 15px / 2) 0 0 1100px $color-corflower;

    background: #fff;
    height: 15px;
    width: 15px;
    border-radius: 100%;
  }

  &::-moz-range-progress {
    background: $color-corflower;
  }

  &::-moz-range-track {
    background: $color-ghost-gray;
  }

  &::-ms-fill-lower {
    background: $color-corflower;
  }

  &::-ms-fill-upper {
    background: $color-ghost-gray;
  }

}

.audio-volume {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-left: 15px;

  img {
    max-width: 100%;
    height: auto;
  }

  &:hover {
    .audio-volume-bar-container {
      opacity: 1;
      transition: 0.15s all;
    }
  }
}

.audio-volume-bar-container {
  opacity: 0;
  transition: 0.15s all;
}

.audio-volume-bar {
  appearance: none;
  background: none;
  overflow: hidden;

  position: absolute;
  left: -25px;
  top: 65px;
  transform: rotate(-90deg);
  width: 75px;
  border-radius: 15px;
  cursor: pointer;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    content: '';
    background: $color-ghost-gray;
    height: 15px;
    pointer-events: none;
  }

  &::-webkit-slider-thumb {
    content: '';
    appearance: none;
    box-shadow: calc(-100px - 15px / 2) 0 0 100px $color-corflower;

    background: #fff;
    height: 15px;
    width: 15px;
    border-radius: 100%;
  }

  &::-moz-range-progress {
    background: $color-corflower;
  }

  &::-moz-range-track {
    background: $color-ghost-gray;
  }

  &::-ms-fill-lower {
    background: $color-corflower;
  }

  &::-ms-fill-upper {
    background: $color-ghost-gray;
  }
}

.audio-volume-btn {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 6px;
  cursor: pointer;

  position: relative;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
  }
}

.audio-controls-top {
  display: flex;
  justify-content: space-around;
}

.bird-question-audio {
  width: 100%;
}
