.quiz-wrapper {
  position: relative; // -
}

.birds-quiz-container {
  padding: 13px;
}

.answers-list {
  padding: 0;

  .answers-list-item {
    padding: 10px 25px;
    list-style-type: none;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray;
    }

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      background-color: #fff;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      left: -10px;
      top: -3px;
    }
  }

  .error {
    // background-color: red;
  
    &::before {
      content: '';
      background-color: #b90e0a; // -
    }
  }

  .success {
    // background-color: green;
  
    &::before {
      content: '';
      background-color: $color-dark-blue;
    }
  }
  
}



