:root {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 400;
}

body {
  background-color: gray;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.success {
  background-color: green;
}


.error {
  background-color: red;
}
